argcomplete==1.9.4
boto3==1.7.62
botocore==1.10.62
docutils==0.14
jmespath==0.9.3
nltk==3.3
phonenumbers==8.9.10
python-dateutil==2.7.3
s3transfer==0.1.13
scrubadub==1.2.0
six==1.11.0
textblob==0.10.0
